$primary : #234D20;
$secondary: #36802D;
$tertiary: #77AB59;
$text: white;
$odd: rgb(9, 36, 7); //Make this color darker than the primary color
$overlay: rgba(5, 17, 4, 0.6);

@font-face {
	font-family: 'JFJUNROC';
	src: url('../fonts/JFJUNROC.eot');
	src: local('JFJUNROC'), url('../fonts/JFJUNROC.woff') format('woff'), url('../fonts/JFJUNROC.ttf') format('truetype');
}

.video_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.video_title h1 {
    font-family: 'JFJUNROC' !important;
    font-size:10vw;
    color:white;
}


.album-title h1 {
    padding-top:300px;
    text-align: center;
    font-size:5vw;
}
.album-title h4 {
    margin-top:-30px;
    text-align: center;
    font-size:3vw;
}

.home {
    width: 100%;
    height: 850px;
    padding-left: 0px;
    padding-right: 0px;
}

.featured_background {
    bottom: 100px;
}

@media only screen and (min-width: 960px) {
    /* For tablets: */
    video {
        display:none;
    }
  }
  @media only screen and (min-width: 1080px) {
    /* For desktop: */
    video {
        display:block;
        width:100%;
        height:auto;
    }
    .video-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        background: $overlay;
    }
    .cover {
        display: none;
    }
  }

  .form-input {
    width: 100%;
    height: 50px;
    background: $tertiary;
    border: none;
    outline: none;
    padding-left: 23px;
}

.form-control {
    color:$text;
}
.form-control:focus {
    color: $text;
    background-color: $secondary;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.social {
    left:15%
}
.social li {
    display: inline-block;
    margin-left:15px;
}

.btn-primary {
    background:$secondary !important;
    border:none;
}

.right {
    float:right;
}

.artist_content {
    padding-top:0px;
}
.artist {
    padding-top:190px;
}

.artist_image {
    padding-right:0px;
    width:auto;
    height:100%;
    left: 0;
}

  /* Theme Colors */
  .jp-play {
      background:$secondary;
  }

  body {
      background:$primary;
      color:$text;
  }

  .odd {
      background:$odd !important;
  }

  .header {
      background:$odd;
  }
  .artist {
      background:$primary;
  }
  .footer {
      background:$primary;
  }
  .copyright_bar {
      background:$primary;
  }
  .show_date {
      background:$secondary;
  }
  .btn-primary {
      background:$secondary;
  }
  .featured_album_link {
      background:$secondary;
  }
  .shows_list li {
      background:$tertiary;
  }
  .image_overlay {
      background:$odd;
  }
  .main_nav ul li a::after {
      background:$secondary;
  }

  .show_shop:hover {
      background:$primary;
  }
  .show_shop {
      background: $odd;
  }