$primary : #6A4362;
$secondary: #E0BD87;
$tertiary: #65919A;
$text: #F4E8D8;
$darkPrimary: rgb(43, 27, 39); //Make this color a darker version than the primary color
$overlay: rgba(5, 17, 4, 0.6);

@font-face {
	font-family: 'JFJUNROC';
	src: url('../fonts/JFJUNROC.eot');
	src: local('JFJUNROC'), url('../fonts/JFJUNROC.woff') format('woff'), url('../fonts/JFJUNROC.ttf') format('truetype');
}

.video_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.video_title h1 {
    $color:$secondary;
    font-family: 'JFJUNROC' !important;
    font-size:10vw;
    color:white;
}

.logo a {
    font-weight: bolder;
}

.album-title h1 {
    padding-top:300px;
    text-align: center;
    font-size:5vw;
}
.album-title h4 {
    margin-top:-30px;
    text-align: center;
    font-size:3vw;
}

.home {
    width: 100%;
    height: 850px;
    padding-left: 0px;
    padding-right: 0px;
}

.featured_background {
    bottom: 100px;
}

.artist_text {
    z-index:2;
}

.video-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: $overlay;
}

.home-content img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

@media only screen and (min-width: 960px) {
    /* For tablets: */
    video {
        display:none;
    }
    .album-title h1 {
        padding-top: 300px;
        text-align: center;
        font-size: 7vw;
    }
  }
  @media only screen and (max-width: 991px) {
    .artist_image img {
        max-width: 100%;
        opacity: 0.2;
    }
    video {
        display:none;
    }
    .album-title h1 {
        padding-top: 300pxpx;
        text-align: center;
        font-size: 7vw;
    }
}
@media only screen and (max-width: 767px) {
    .artist_image img {
        max-width:100%;
    }
    video {
        display:none;
    }
    .album-title h1 {
        padding-top: 160px;
        text-align: center;
        font-size: 12vw;
    }
}
  @media only screen and (min-width: 1080px) {
    /* For desktop: */
    video {
        display:block;
        width:100%;
        height:auto;
    }
    .home-content img {
        display: none;
    }
  }

  .form-input {
    width: 100%;
    height: 50px;
    background: $tertiary;
    border: none;
    outline: none;
    padding-left: 23px;
}

.form-control {
    color:$text;
}
.form-control:focus {
    color: $text;
    background-color: $secondary;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.social {
    left:15%
}
.social li {
    display: inline-block;
    margin-left:15px;
}

.btn-primary {
    background:$secondary !important;
    border:none;
}

.right {
    float:right;
}

.artist_content {
    padding-top:0px;
}
.artist {
    padding-top:190px;
}

.artist_image {
    padding-right:0px;
    width:auto;
    height:100%;
    left: 0;
}

  /* Theme Colors */
  .jp-play {
      background:$secondary;
  }

  body {
      background:$primary;
      color:$text;
  }

  .odd {
      background:$darkPrimary !important;
  }

  .header {
      background:$darkPrimary;
  }
  .artist {
      background:$primary;
  }
  .footer {
      background:$primary;
  }
  .copyright_bar {
      background:$primary;
  }
  .show_date {
      background:$darkPrimary;
  }
  .show_shop {
      background: $secondary;
  }
  .show_shop:hover {
      background:$primary;
  }
  .btn-primary {
      background:$secondary;
  }
  .featured_album_link {
      background:$secondary;
  }
  .shows_list li {
      background:$tertiary;
  }
  .image_overlay {
      background:$darkPrimary;
  }
  .main_nav ul li a::after {
      background:$secondary;
  }
  .show_name a:hover {
      color:$secondary;
  }
  .menu_nav {
      background:$darkPrimary;
      border-bottom: solid 5px $secondary;
  }
  .menu_nav ul li a:hover {
      color:$secondary;
  }
  .menu_nav ul li {
      color:$text;
  }