@font-face {
  font-family: "JFJUNROC";
  src: url("../fonts/JFJUNROC.eot");
  src: local("JFJUNROC"), url("../fonts/JFJUNROC.woff") format("woff"), url("../fonts/JFJUNROC.ttf") format("truetype");
}
/* Home */
.home {
  width: 100%;
  height: 850px;
  padding-left: 0px;
  padding-right: 0px;
}

.home-content img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.logo a {
  font-weight: bolder;
}

.video_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.video_title h1 {
  font-family: "JFJUNROC" !important;
  font-size: 10vw;
  color: white;
}

.video-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: rgba(5, 17, 4, 0.6);
}

/*Album Player */
.jp-playlist li > div::before {
  display: none;
}

.featured_background {
  bottom: 100px;
}

.album-title h4 {
  margin-top: -30px;
  text-align: center;
  font-size: 3vw;
}

.artist_text {
  z-index: 2;
}

.artist_content {
  padding-top: 0px;
}

.artist {
  padding-top: 190px;
}

.artist_image {
  padding-right: 0px;
  width: auto;
  height: 100%;
  left: 0;
}

/*Upcoming Shows*/
.shows {
  padding-top: 130px;
}

/*Form */
.form-control {
  color: #F4E8D8;
}

.form-control:focus {
  color: #F4E8D8;
  background-color: #E0BD87;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  background: #E0BD87 !important;
  border: none;
}

.fas {
  margin-left: -40px;
  padding-right: 20px;
}

a .fab {
  padding-left: 15px;
  color: #F4E8D8;
}

a:hover .artistSocial {
  padding-left: 15px;
  color: #6A4362;
  cursor: pointer;
}

/*Footer*/
.socialFooter i:hover {
  color: #2b1b27;
  cursor: pointer;
}

.socialFooter {
  text-align: center;
}

/*Responsive Stuff*/
@media only screen and (min-width: 960px) {
  /* For tablets: */
  video {
    display: none;
  }

  .album-title h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 5vw;
  }
}
@media only screen and (max-width: 991px) {
  .artist_image img {
    max-width: 100%;
    opacity: 0.2;
  }

  video {
    display: none;
  }

  .album-title h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 5vw;
  }
}
@media only screen and (max-width: 767px) {
  .artist_image img {
    max-width: 100%;
  }

  video {
    display: none;
  }

  .album-title h1 {
    padding-top: 160px;
    text-align: center;
    font-size: 12vw;
  }

  .featured_album_col {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1080px) {
  /* For desktop: */
  video {
    display: block;
    width: 100%;
    height: auto;
  }

  .home-content img {
    display: none;
  }
}
.form-input {
  width: 100%;
  height: 50px;
  background: #65919A;
  border: none;
  outline: none;
  padding-left: 23px;
}

/* Theme Colors */
.jp-play {
  background: #E0BD87;
}

body {
  background: #6A4362;
  color: #F4E8D8;
}

.odd {
  background: #2b1b27 !important;
}

.header {
  background: #2b1b27;
}

.artist {
  background: #6A4362;
}

.footer {
  background: #6A4362;
}

.copyright_bar {
  background: #6A4362;
}

.show_date {
  background: #2b1b27;
}

.show_shop {
  background: #E0BD87;
}

.show_shop:hover {
  background: #6A4362;
}

.btn-primary {
  background: #E0BD87;
}

.featured_album_link {
  background: #E0BD87;
}

.shows_list li {
  background: #65919A;
}

.image_overlay {
  background: #2b1b27;
}

.main_nav ul li a::after {
  background: #E0BD87;
}

.show_name a:hover {
  color: #E0BD87;
}

.menu_nav {
  background: #2b1b27;
  border-bottom: solid 5px #E0BD87;
  border-top: solid 5px #E0BD87;
}

.menu_nav ul li a:hover {
  color: #E0BD87;
}

.menu_nav ul li {
  color: #F4E8D8;
}

.jp-playlist {
  background: #2b1b27;
}

.featured_album_player {
  background: #2b1b27;
}

.jp-type-playlist div.jp-playlist a {
  color: #F4E8D8 !important;
}

.jp-playlist li::before, #jp_container_1.jp-state-playing .jp-playlist li.jp-playlist-current::before {
  background: #6A4362;
}

.menu_log_reg {
  background: #2b1b27;
  border-bottom: solid 2px #E0BD87;
}

.menu_log_reg a:hover {
  color: #E0BD87;
}

/*# sourceMappingURL=custom.css.map */
